<html lang="en">
<head>
  <title>BookmyHotel</title>
  <link rel="stylesheet" href="stylesheet/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script type="text/javascript" src="app.js"></script>
  <style>

body{
  margin: auto;
}
.container{
  background-color: inherit;
}
input[type=text]{
  background-color: inherit;
  color: black;
}
input[id=id01]{
  background-color: inherit;
}
.modal-content animatess{
  background-color: inherit;

}
  </style>
</head>
<body background="images/pu.jpg">
<nav class="navbar navbar-inverse">

    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="hospitolity.html">Hospitality</a></li>
          <li><a href="cab.html">CabServices</a></li>
          <li><a href="fitnes.html">Fitness</a></li>

        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="accomodation.html">Accomodation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="single.html">SingleDeluxSuite</a></li>
          <li><a href="duplex.html">DoubleDeluxSuite</a></li>
          <li><a href="romantic.html">RomanticSuite</a></li>

        </ul>
      </li>
      <li><a href="offers.html">Offers</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="booking.html">Registration</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="login.html">Login</a></li>

      <li><a href="aboutus.html">Aboutus</a></li>
      <li><a href="checkin.html">Checkout/Checkin</a></li>
    </ul>
  </div>
</nav>
<button onclick="document.getElementById('id01').style.display='block'">Login</button>

<div id="id01" class="modal" width="100px">

 <form class="modal-content animate" action="login.html" ng-controller="loginController" method="post">
   <div class="imgcontainer">
     <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" style="background-color:inherit">&times;</span>

   </div>

   <div class="container" style="color:Black">
     <label for="uname" ><b style="color:Black">Username</b></label>
     <input type="text" placeholder="Enter Username" name="uname" required ng-model="uname">

     <label for="psw" ><b style="color:Black" required>Password</b></label>
     <input type="text" placeholder="Enter Password" name="psw" required ng-model="password">

     <button type="submit" style="color:Black" ng-click="submit()">Login</button>
     <label>
       <input type="checkbox" checked="checked" name="remember"><b  style="color:Black" > Remember me</b>
     </label>
   </div>

   <div class="container" >
     <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style="color:Black">Cancel</button>
     <span class="psw" style="color:Black">Forgot <a href="#">password?</a></span>
   </div>
 </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
   if (event.target == modal) {
       modal.style.display = "none";
   }
}
</script>


</body>
</html>
